.navbar--header {
    position: sticky;
    height: 60px;
    background: #52703d;
}

.text-header {
    color: white;
}

.menu--user {
    float: left;
    width: auto;
    height: auto;
}

.container>.navbar-header>.text-header>a {
    color: #fff;
    font-size: 16px;
    line-height: 32px;
}

.container>.navbar-header>.text-header>a:hover {
    text-decoration: underline;
}

.dropdown-item span {
    color: #a8a195;
}

.dropdown>.dropdown-menu {
    background: #2b2e30;
}

.dropdown>.dropdown-menu>.dropdown-item {
    border-bottom: #383d3f 1px solid;
}

.dropdown>.dropdown-menu>.dropdown-item:hover {
    background: #4d4e50;
    color: #656565;
}

footer {
    background: #375c39;
    width: 100%;
    height: auto;
}

footer>.container>.row>.col-md-5>p {
    color: #e8e6e3;
}

footer>.container>.row>.col-md-3>.foot-links>h2 {
    color: #ff751a;
}

footer>.container>.row>.col-md-3>.foot-links>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer>.container>.row>.col-md-3>.foot-links>ul>li>a {
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    text-decoration: underline;
}

footer>.container>.row>.col-md-3>.foot-links>ul>li>a:hover {
    color: rgb(142, 187, 130);
    text-decoration-color: initial;
}

footer>.container>.row>.col-md-4>.contact-info>.nopadding {
    color: #ff751a;
}

footer>.container>.row>.col-md-4>.contact-info>p {
    color: #e8e6e3;
}

footer>.container>.row>.col-md-4>.contact-info>p>a {
    color: rgb(142, 187, 130);
}

footer>.container>.row>.col-md-4>.social-media>h6 {
    color: #e8e6e3;
}

footer>.container>.row>.col-md-4>.social-media>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.blabla {
    background: #000;
    height: 300px;
    width: auto;
    display: flex;
}