* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    min-height: 600px;
}

/* Navbar */
.navbar-center {
    justify-content: center;
}

/* Main */
.subject__near--access {
    margin: 8px 16px;
}

/* List item subject */
.list {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 48px;
}

.list__item {
    border: 2px solid #ccc;
}

.list__item__sem,
.list__item__name,
.list__item__names {
    margin-top: 8px;
    margin-left: 16px;
}

.list__item__name--TenLop {
    margin-top: -8px;
}

.list__item__btn--access {
    padding: 8px;
    border: 1px solid #ccc;
    color: #fff;
    border-left: 16px;
}

.btn-access {
    margin: 8px 16px;
}

/* Danh sach lop.html */
.btn__watch--list {
    float: right;
    margin-right: 186px;
}

.btn__confirm {
    float: right;
    margin-right: 46px;
}

/* Tổ trưởng */
.d-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.wid-row__full {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.container__list-question {
    width: 90%;
    margin-top: 32px;
}

.container__list-choice {
    width: 10%;
    display: flex;
    flex-direction: column;
}

.heading-title {
    margin-right: 545px;
    font-size: 26px;
    font-weight: 500;
}

.block-question {
    padding: 16px;
}

.block-question__heading {
    font-weight: 500;
}

.block-question__heading,
.block-question__answer {
    font-size: 22px;
}

.heading__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
}

.heading__select {
    margin-right: 8px;
}

#check1 {
    margin-left: 113px;
    margin-top: 65px;
}

/*  */

.avatar-wrapper {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 50px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 1px 15px -5px black;
    transition: all .3s ease;
}

.avatar-wrapper :hover {
    transform: scale(1.05);
    cursor: pointer;
}

.avatar-wrapper :hover .profile-pic {
    opacity: .5;
}

.profile-pic {
    height: 100%;
    width: 100%;
    transition: all .3s ease;
}

.profile-pic ::after {
    font-family: FontAwesome;
    content: "\f007";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 190px;
    background: #ecf0f1;
    color: #34495e;
    text-align: center;
}

.upload-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.upload-button .fa-arrow-circle-up {
    position: absolute;
    font-size: 234px;
    top: -17px;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
    color: #34495e;
}

.upload-button .fa-arrow-circle-up :hover .fa-arrow-circle-up {
    opacity: .9;
}