* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    min-height: 600px;
}

/* Navbar */
.navbar-center {
    justify-content: center;
}

/* Main */
.subject__near--access {
    margin: 8px 16px;
}

/* List item subject */
.list {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 48px;
}

.list__item {
    border: 2px solid #ccc;
}

.list__item__sem,
.list__item__name,
.list__item__names {
    margin-top: 8px;
    margin-left: 16px;
}

.list__item__name--TenLop {
    margin-top: -8px;
}

.list__item__btn--access {
    padding: 8px;
    border: 1px solid #ccc;
    color: #fff;
    border-left: 16px;
}

.btn-access {
    margin: 8px 16px;
}

/* Danh sach lop.html */
.btn__watch--list {
    float: right;
    margin-right: 186px;
}

.btn__confirm {
    float: right;
    margin-right: 46px;
}

/* Tổ trưởng */
.d-block {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}